* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
        'heading heading heading'
        'button board board'
        'score board board';

    justify-items: center;
    align-items: center;
}

h1 {
    grid-area: heading;
}

#buttons {
    grid-area: button;

    display: grid;
    gap: 1rem;
}

#scoreDisplay {
    grid-area: score;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}



#board {
    grid-area: board;

    background-color: white;
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}